ul{
    background-color: green;
    padding: 50px;
    border-radius: 10px;
}

li{
    background-color: darkslategray;
    color: white;
    margin: 10px;
    padding: 10px;
    list-style: circle;
    border-radius: 10px;
}

ol{
    padding: 30px;
    list-style: upper-alpha;
}

.o2{
    list-style: upper-alpha;
    color: black;
}